@import url('clash-display.css');
@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-*: initial;
    --color-myblack: #101010;
    --color-mygray: #141414;
    --color-myoutline: #212121;
    --color-mywhite: #FAF9F6;
    --color-bermuda: #78dcca;

    --font-clash: "ClashDisplayBold";
    --font-clashS: "ClashDisplay-Light"
  }




  





