@import url('clash-display.css');
@import "tailwindcss";
@tailwind utilities;

@theme {
    --color-*: initial;
    --color-myblack: #101010;
    --color-mygray: #141414;
    --color-myoutline: #212121;
    --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca;
  }


  





